@charset "UTF-8";
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.6em;
  scroll-behavior: smooth;
}

body {
  color: #707070;
  width: 100vw;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #707070;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
  display: block;
}

.l-body.is-active {
  overflow: hidden;
}
@media screen and (min-width: 1025px) {
  .l-body.is-active {
    overflow-y: scroll;
  }
}

.l-container {
  position: relative;
}
.l-container__black {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  z-index: 19;
}

.l-container__black.is-active {
  opacity: 1;
  visibility: visible;
}
@media screen and (min-width: 1025px) {
  .l-container__black.is-active {
    opacity: 0;
    visibility: hidden;
  }
}

.l-container__single {
  margin-top: 8vw;
  margin-right: 5.3333333333vw;
  margin-left: 5.3333333333vw;
}
@media screen and (min-width: 600px) {
  .l-container__single {
    margin-top: 28.896882494vw;
    margin-right: 7.1942446043vw;
    margin-left: 7.1942446043vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .l-container__single {
    margin-top: 3.125vw;
    margin-right: 5.0520833333vw;
    margin-left: 5.2083333333vw;
  }
}

.l-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFFFFF;
}
@media screen and (min-width: 600px) {
  .l-footer {
    justify-content: space-evenly;
  }
}

.l-main {
  width: 100vw;
}
@media screen and (min-width: 1025px) {
  .l-main {
    width: 80vw;
  }
}

.l-sidebar {
  display: flex;
  flex-direction: column;
  background-color: #F2EDE9;
  position: fixed;
  z-index: 99;
  right: -100%;
  transition: right 0.6s;
  width: 87.5%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
}
@media screen and (min-width: 600px) {
  .l-sidebar {
    width: 44%;
  }
}
@media screen and (min-width: 1025px) {
  .l-sidebar {
    position: relative;
    right: 0;
    width: 100%;
    transition: 0s;
    visibility: visible;
    opacity: 1;
  }
}

.l-sidebar.is-open {
  overflow: scroll;
  right: 0;
  visibility: visible;
  opacity: 1;
}
@media screen and (min-width: 1025px) {
  .l-sidebar.is-open {
    overflow-x: hidden;
  }
}

.c-bg-color--seashell {
  background-color: #FFF7EF;
}
.c-bg-color--lightgray {
  background-color: #F2EDE9;
}
.c-bg-color--white {
  background-color: #FFFFFF;
}
.c-bg-color--mocha {
  background-color: #9D8670;
}
.c-bg-color--dark-brown {
  background-color: #3C2B1C;
}
.c-bg-color--light-gray {
  background-color: #F5F5F5;
}
.c-bg-color--egg {
  background-color: #FFFDFA;
}

.c-background, .c-background__footer, .c-background__page, .c-background__single, .c-background__archive, .c-background__map, .c-background__menu--right, .c-background__menu--left, .c-background__main {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.c-background__main {
  background-image: url("../images/mainvisual-sp.jpg");
  background-color: green;
}
@media screen and (min-width: 600px) {
  .c-background__main {
    background-image: url("../images/mainvisual-pc.jpg");
  }
}
.c-background__menu--left {
  background-image: url("../images/brunch-menu-left.jpg");
}
.c-background__menu--right {
  background-image: url("../images/brunch-menu-right.jpg");
}
.c-background__map {
  background-image: url("../images/map.jpg");
}
.c-background__archive {
  background-image: url("../images/page-title_arcive.jpg");
  background-position: inherit;
}
.c-background__single {
  background-image: url("../images/hamburger-single.jpg");
}
.c-background__page {
  background-image: url("../images/shop.jpg");
}
.c-background__footer {
  background-image: url("../images/footer.jpg");
}

.c-border {
  border: 1px solid #707070;
}

.c-underline {
  width: 3.3vw;
  border-bottom: 3.3vw solid #FFFFFF;
}

.c-border__footer--li {
  display: block;
  border-right: solid white;
  padding: 0 10px;
}

.c-border__footer {
  border-right: none;
}

.c-border__table {
  border: solid 1px;
}

.c-button {
  text-align: center;
  text-decoration: none;
}
.c-button--gradation {
  background-color: #F5F5F5;
  background: linear-gradient(#F2EDE9, #DED8D3);
}
.c-button__white {
  background-color: #FFFFFF;
}
@media screen and (min-width: 600px) {
  .c-button__white {
    width: 19.5635491607vw;
    height: 5.0923261391vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .c-button__white {
    width: 15.2083333333vw;
    height: 3.9583333333vw;
  }
}
.c-button__pagination {
  border: solid 1px #707070;
  color: #707070;
}
@media screen and (min-width: 600px) {
  .c-button__pagination {
    width: 4.1966426859vw;
    height: 4.1966426859vw;
    margin-right: 1.7985611511vw;
    font-size: 1.9184652278vw;
    line-height: 2;
  }
}
@media screen and (min-width: 1025px) {
  .c-button__pagination {
    width: 1.8229166667vw;
    height: 1.8229166667vw;
    margin-right: 0.78125vw;
    font-size: 0.8333333333vw;
  }
}

@media screen and (min-width: 600px) {
  .c-button__pagination:hover {
    background-color: #3C2A10;
    color: #FFFFFF;
  }
}

.c-color__white {
  color: #FFFFFF;
}
.c-color__brown {
  color: #707070;
}
.c-color__dark-brown {
  color: #3C2A10;
}
.c-color__black {
  color: #000000;
}
.c-color__blue {
  color: #4A6C9B;
}

.c-font__M--regular {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 400;
}
.c-font__M--bold {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
}
.c-font__R {
  font-family: "Roboto", sans-serif;
}
.c-font__R--bold {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.c-font-size__14 {
  font-size: 3.73vw;
  font-size: 3.7333333333vw;
}
.c-font-size__13 {
  font-size: 5.87vw;
}
.c-font-size__16 {
  font-size: 4.2666666667vw;
}
@media screen and (min-width: 600px) {
  .c-font-size__16 {
    font-size: 1.9184652278vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .c-font-size__16 {
    font-size: 0.8333333333vw;
  }
}
.c-font-size__20 {
  font-size: 5.3333333333vw;
}
@media screen and (min-width: 600px) {
  .c-font-size__20 {
    font-size: 2.3980815348vw;
  }
}
@media screen and (min-width: 1025px) {
  .c-font-size__20 {
    font-size: 1.0416666667vw;
  }
}
.c-font-size__22 {
  font-size: 2.2vw;
}
.c-font-size__24--sidebar-title {
  font-size: 6.4vw;
}
@media screen and (min-width: 600px) {
  .c-font-size__24--sidebar-title {
    font-size: 2.8776978417vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .c-font-size__24--sidebar-title {
    font-size: 1.25vw;
  }
}
.c-font-size__24 {
  font-size: 2.07vw;
}
.c-font-size__28 {
  font-size: 7.4666666667vw;
}
.c-font-size__30 {
  font-size: 8vw;
}
.c-font-size__36 {
  font-size: 9.6vw;
}
.c-font-size__28--single-h2 {
  font-size: 7.4666666667vw;
}
@media screen and (min-width: 600px) {
  .c-font-size__28--single-h2 {
    font-size: 4.3165467626vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .c-font-size__28--single-h2 {
    font-size: 1.875vw;
  }
}
.c-font-size__24--single-h3 {
  font-size: 6.4vw;
}
@media screen and (min-width: 600px) {
  .c-font-size__24--single-h3 {
    font-size: 3.3573141487vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .c-font-size__24--single-h3 {
    font-size: 1.4583333333vw;
  }
}
.c-font-size__20--single-h4-6 {
  font-size: 5.3333333333vw;
}
@media screen and (min-width: 600px) {
  .c-font-size__20--single-h4-6 {
    font-size: 2.3980815348vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .c-font-size__20--single-h4-6 {
    font-size: 1.0416666667vw;
  }
}

.c-grid {
  display: grid;
  grid-template-rows: 57.87vw 1fr 40vw;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 600px) {
  .c-grid {
    grid-template-rows: 26.02vw 1fr 17.99vw;
  }
}
@media screen and (min-width: 1025px) {
  .c-grid {
    grid-template-rows: 11.3vw 1fr 7.8125vw;
    grid-template-columns: 1fr 20%;
  }
}
.c-grid__header {
  grid-row: 1;
  grid-column: 1;
}
@media screen and (min-width: 1025px) {
  .c-grid__header {
    grid-row: 1/2;
    grid-column: 1/2;
  }
}
.c-grid__main {
  grid-row: 2;
  grid-column: 1;
}
@media screen and (min-width: 1025px) {
  .c-grid__main {
    grid-row: 2;
    grid-column: 1/2;
  }
}
.c-grid__footer {
  grid-row: 3;
  grid-column: 1;
}
@media screen and (min-width: 1025px) {
  .c-grid__footer {
    grid-row: 3;
    grid-column: 1/3;
  }
}
.c-grid__sidebar {
  grid-row: 1/4;
  grid-column: 1/3;
}
@media screen and (min-width: 1025px) {
  .c-grid__sidebar {
    grid-row: 1/3;
    grid-column: 2/3;
  }
}

.c-grid__single {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  row-gap: 5.3333333333vw;
}
@media screen and (min-width: 600px) {
  .c-grid__single {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 1.9184652278vw;
    column-gap: 2.3980815348vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .c-grid__single {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.0416666667vw;
  }
}

.c-image__single--big {
  object-fit: cover;
  object-position: 100% 100%;
  width: 89.3333333333vw;
  height: 33.0666666667vw;
}
@media screen and (min-width: 600px) {
  .c-image__single--big {
    width: 85.6115107914vw;
    height: 31.654676259vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .c-image__single--big {
    width: 70.46875vw;
    height: 26.0416666667vw;
  }
}
.c-image__single--middle {
  width: 38.4vw;
  height: 23.7333333333vw;
}
@media screen and (min-width: 600px) {
  .c-image__single--middle {
    width: 36.690647482vw;
    height: 22.6618705036vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .c-image__single--middle {
    width: 30.2604166667vw;
    height: 18.6458333333vw;
  }
}
.c-image__single--middle2 {
  width: 71.2vw;
  height: 44.2666666667vw;
}
@media screen and (min-width: 600px) {
  .c-image__single--middle2 {
    width: 69.6642685851vw;
    height: 42.9256594724vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .c-image__single--middle2 {
    width: 30.2604166667vw;
    height: 18.6458333333vw;
  }
}
@media screen and (min-width: 1025px) {
  .c-image__single--small {
    width: 25.15625vw;
    height: 13.3854166667vw;
  }
}

.c-LH--195 {
  line-height: 1.95;
}

.c-LH--106 {
  line-height: 1.0625;
}
@media screen and (min-width: 1025px) {
  .c-LH--106 {
    line-height: 2.0625;
  }
}

.c-LH14375 {
  line-height: 1.4375;
}

.c-LH145 {
  line-height: 1.45;
}

.c-LH15 {
  line-height: 1.5;
}

.c-opacity--60per {
  opacity: 60%;
}
.c-opacity--50per {
  opacity: 50%;
}
.c-opacity--29per {
  opacity: 29%;
}

.c-pseudo-element__black::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.c-pseudo-element__《::before {
  content: "前へ";
  display: block;
  position: absolute;
  height: 5.8666666667vw;
  background-color: #FFFDFA;
  left: 12.2666666667vw;
}
@media screen and (min-width: 600px) {
  .c-pseudo-element__《::before {
    display: none;
  }
}
.c-pseudo-element__》::after {
  content: "次へ";
  position: absolute;
  height: 5.8666666667vw;
  background-color: #FFFDFA;
  right: 12vw;
}
@media screen and (min-width: 600px) {
  .c-pseudo-element__》::after {
    display: none;
  }
}

.c-round--63 {
  border-radius: 6.3px;
}
.c-round--125 {
  border-radius: 12.5px;
}
.c-round--313 {
  border-radius: 31.3px;
}
.c-round--35 {
  border-radius: 35px;
}
.c-round--20 {
  border-radius: 5.3333333333vw;
}
@media screen and (min-width: 600px) {
  .c-round--20 {
    border-radius: 2.3980815348vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .c-round--20 {
    border-radius: 1.0416666667vw;
  }
}

.c-text--white {
  color: #FFFFFF;
}
.c-text--brown {
  color: #707070;
}
.c-text--dark-brown {
  color: #3C2A10;
}
.c-text--black {
  color: #000000;
}

.c-title__white {
  color: #FFFFFF;
}
.c-title__brown {
  color: #707070;
}
.c-title__dark-brown {
  color: #3C2A10;
}

.c-title__42, .c-title__007, .c-title__01, .c-title__02, .c-title__41 {
  color: #FFFFFF;
  font-size: 4.2vw;
}
.c-title__41 {
  font-size: 10.93vw;
  font-size: 2.5625rem;
}
.c-title__36 {
  font-size: 9.6vw;
}
@media screen and (min-width: 600px) {
  .c-title__36 {
    font-size: 7.1942446043vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .c-title__36 {
    font-size: 3.125vw;
  }
}
.c-title__22 {
  font-size: 1.375rem;
}
.c-title__02 {
  font-size: 2vw;
}
.c-title__01 {
  font-size: 1vw;
}
.c-title__007 {
  font-size: 0.7vw;
}

.c-unit--2col {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media screen and (min-width: 600px) {
  .c-unit--2col {
    flex-direction: row;
  }
}
@media screen and (min-width: 1025px) {
  .c-unit--2col {
    justify-content: space-between;
  }
}

.c-flex-box--column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media screen and (min-width: 1025px) {
  .c-flex-box--column {
    justify-content: space-between;
    flex-direction: row;
  }
}

.p-article1 {
  display: flex;
  margin-top: 8vw;
  margin-right: 5.3333333333vw;
  margin-left: 5.3333333333vw;
}
@media screen and (min-width: 600px) {
  .p-article1 {
    margin-top: 7.1942446043vw;
    margin-right: 7.1942446043vw;
    margin-left: 7.1942446043vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .p-article1 {
    margin-top: 3.125vw;
    margin-right: 5.15625vw;
    margin-left: 5.2083333333vw;
  }
}
.p-article1__text {
  margin-left: 2.6666666667vw;
}
@media screen and (min-width: 600px) {
  .p-article1__text {
    margin-left: 2.5179856115vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .p-article1__text {
    margin-left: 2.0833333333vw;
  }
}

@media screen and (min-width: 600px) {
  .p-article2__text {
    margin-right: 2.5179856115vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .p-article2__text {
    margin-right: 2.0833333333vw;
  }
}

.p-access {
  min-height: 184.2666666667vw;
  position: relative;
}
@media screen and (min-width: 600px) {
  .p-access {
    min-height: 49.7601918465vw;
  }
}
@media screen and (min-width: 1025px) {
  .p-access {
    min-height: 33.8020833333vw;
  }
}
.p-access::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  height: 60%;
}
@media screen and (min-width: 600px) {
  .p-access::before {
    height: 100%;
  }
}
.p-access__container {
  position: relative;
  background-color: rgba(0, 0, 0, 0.29);
  width: 100%;
  min-height: 64.896vw;
  line-height: 2.36;
}
@media screen and (min-width: 600px) {
  .p-access__container {
    min-height: 49.7601918465vw;
  }
}
@media screen and (min-width: 1025px) {
  .p-access__container {
    width: 61%;
    min-height: 33.8020833333vw;
  }
}
.p-access__title {
  position: absolute;
  padding-top: 10.6666666667vw;
  padding-left: 11.2vw;
  font-size: 8vw;
}
@media screen and (min-width: 600px) {
  .p-access__title {
    font-size: 3.5971223022vw;
    padding-left: 3.62vw;
    padding: 4.79vw 0 0 5.03vw;
  }
}
@media screen and (min-width: 1025px) {
  .p-access__title {
    font-size: 1.875vw;
    padding: 4.32vw 0 0 6.19vw;
  }
}
.p-access__title::after {
  width: 20vw;
  height: 0.53vw;
  top: 32vw;
}
@media screen and (min-width: 600px) {
  .p-access__title::after {
    width: 8.9928057554vw;
    height: 0.35vw;
    top: 12.86vw;
  }
}
@media screen and (min-width: 1025px) {
  .p-access__title::after {
    width: 3.9vw;
    height: 0.15vw;
    top: 9.8697916667vw;
  }
}
.p-access__text {
  padding: 41.33vw 10.67vw 13.6vw 10.67vw;
  line-height: 2.357;
}
@media screen and (min-width: 600px) {
  .p-access__text {
    font-size: 1.19vw;
    font-size: 1.6786570743vw;
    padding: 15vw 3.47vw 7.3vw 5.03vw;
  }
}
@media screen and (min-width: 1025px) {
  .p-access__text {
    font-size: 0.8333333333vw;
    padding: 13.177vw 6.979vw 0 6.198vw;
    line-height: 2.0625;
  }
}

.p-blockquote {
  display: block;
  margin: 0 auto;
  margin-top: 8vw;
  margin-right: 5.3333333333vw;
  margin-bottom: 8vw;
  margin-left: 5.3333333333vw;
}
@media screen and (min-width: 600px) {
  .p-blockquote {
    margin-top: 7.1942446043vw;
    margin-right: 7.1942446043vw;
    margin-bottom: 7.1942446043vw;
    margin-left: 7.1942446043vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .p-blockquote {
    margin-top: 3.125vw;
    margin-bottom: 3.125vw;
    width: 70.46875vw;
    height: 16.6145833333vw;
  }
}
.p-blockquote__text {
  padding-top: 8vw;
  padding-right: 4.2666666667vw;
  padding-bottom: 8vw;
  padding-left: 5.3333333333vw;
}
@media screen and (min-width: 600px) {
  .p-blockquote__text {
    padding-top: 5.9952038369vw;
    padding-right: 6.7146282974vw;
    padding-bottom: 7.1942446043vw;
    padding-left: 5.9952038369vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .p-blockquote__text {
    padding-top: 2.6041666667vw;
    padding-right: 3.125vw;
    padding-bottom: 3.125vw;
    padding-left: 2.6041666667vw;
  }
}
.p-blockquote__text2 {
  padding-bottom: 8vw;
  margin-left: 5.3333333333vw;
}
@media screen and (min-width: 600px) {
  .p-blockquote__text2 {
    padding-bottom: 7.1942446043vw;
    margin-left: 5.9952038369vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .p-blockquote__text2 {
    padding-left: 2.6041666667vw;
    margin-left: 2.6041666667vw;
  }
}

.p-blockquote__a {
  text-decoration: underline;
  font-style: normal;
}

.p-brunch-menu {
  margin: 7.65vw 3.448vw;
}
@media screen and (min-width: 600px) {
  .p-brunch-menu {
    margin: 4.79vw 4.79vw 0 4.79vw;
  }
}
@media screen and (min-width: 1025px) {
  .p-brunch-menu {
    margin: 75px 5.83vw 83.8px 5.78vw;
  }
}
.p-brunch-menu__ul-left {
  position: relative;
  min-height: 130.5866666667vw;
  margin-right: 3.537vw;
  margin-bottom: 5.33vw;
  width: 100%;
}
@media screen and (min-width: 600px) {
  .p-brunch-menu__ul-left {
    min-height: 81.654676259vw;
    margin-right: 4.9160671463vw;
  }
}
@media screen and (min-width: 1025px) {
  .p-brunch-menu__ul-left {
    min-height: 62.1354166667vw;
    min-width: 32.5520833333vw;
    margin-right: 50px;
    margin-right: 4.1666666667vw;
    margin-bottom: 0vw;
  }
}
.p-brunch-menu__ul-right {
  position: relative;
  min-height: 130.5866666667vw;
  margin-bottom: 5.33vw;
  width: 100%;
}
@media screen and (min-width: 1025px) {
  .p-brunch-menu__ul-right {
    min-height: 746px;
    min-width: 32.5520833333vw;
    margin-bottom: 0vw;
  }
}
.p-brunch-menu__title {
  padding-top: 2.9333333333vw;
  margin-left: 4vw;
  font-size: 10.9333333333vw;
  line-height: 1.317;
}
@media screen and (min-width: 600px) {
  .p-brunch-menu__title {
    margin-left: 1.3189448441vw;
    font-size: 5.2757793765vw;
  }
}
@media screen and (min-width: 1025px) {
  .p-brunch-menu__title {
    font-size: 4.1666666667vw;
    padding-top: 1.0416666667vw;
  }
}
.p-brunch-menu__title::after {
  width: 9.03vw;
  height: 6.5px;
  height: 1.2vw;
  top: 19vw;
  left: 4vw;
}
@media screen and (min-width: 600px) {
  .p-brunch-menu__title::after {
    width: 4.3153477218vw;
    height: 0.4196642686vw;
    top: 11.913vw;
    left: 1.4vw;
    left: 1.8105515588vw;
  }
}
@media screen and (min-width: 1025px) {
  .p-brunch-menu__title::after {
    width: 3.28125vw;
    height: 0.25vw;
    top: 8vw;
  }
}
.p-brunch-menu__dl {
  background: rgb(255, 255, 255);
  margin: 5.3333333333vw;
}
@media screen and (min-width: 600px) {
  .p-brunch-menu__dl {
    margin: 1.79vw 1.79vw 1.91vw 1.91vw;
  }
}
@media screen and (min-width: 1025px) {
  .p-brunch-menu__dl {
    margin: 1.042vw;
    margin: 1.0416666667vw;
  }
}
.p-brunch-menu__dl:nth-of-type(1) {
  margin-top: 81.3333333333vw;
}
@media screen and (min-width: 600px) {
  .p-brunch-menu__dl:nth-of-type(1) {
    margin-top: 71.3429256595vw;
  }
}
@media screen and (min-width: 1025px) {
  .p-brunch-menu__dl:nth-of-type(1) {
    margin-top: 36.1979166667vw;
  }
}
.p-brunch-menu__dt {
  padding: 1.87vw 0 0.8vw 2.67vw;
  font-size: 5.8666666667vw;
}
@media screen and (min-width: 600px) {
  .p-brunch-menu__dt {
    font-size: 2.8776978417vw;
  }
}
@media screen and (min-width: 1025px) {
  .p-brunch-menu__dt {
    font-size: 1.25vw;
    padding: 0.625vw 0 0.46875vw 1.041vw;
  }
}
.p-brunch-menu__dd {
  padding: 0.8vw 2.67vw 4vw 2.67vw;
  font-size: 4.2666666667vw;
  line-height: 1.438;
}
@media screen and (min-width: 600px) {
  .p-brunch-menu__dd {
    font-size: 1.6786570743vw;
  }
}
@media screen and (min-width: 1025px) {
  .p-brunch-menu__dd {
    font-size: 0.8333333333vw;
    padding: 0.46875vw 1.09375vw 1.042vw 1.042vw;
  }
}

.p-footer {
  position: relative;
}
.p-footer__ul {
  display: flex;
  margin: 6.67vw auto 4.53vw;
}
@media screen and (min-width: 600px) {
  .p-footer__ul {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1025px) {
  .p-footer__ul {
    font-size: 1vw;
  }
}
@media screen and (min-width: 600px) {
  .p-footer__menu__li {
    font-size: 2.3980815348vw;
  }
}
@media screen and (min-width: 1025px) {
  .p-footer__menu__li {
    font-size: 1vw;
    font-size: 1.0416666667vw;
  }
}
.p-footer__copyright {
  margin: 0 auto;
}
@media screen and (min-width: 600px) {
  .p-footer__copyright {
    font-size: 1.6786570743vw;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1025px) {
  .p-footer__copyright {
    font-size: 0.7291666667vw;
    margin: 0 auto;
  }
}

.p-header__title {
  font-weight: 900;
  line-height: 1.325;
  font-size: 10.6666666667vw;
  padding-bottom: 10.1333333333vw;
}
@media screen and (min-width: 600px) {
  .p-header__title {
    font-size: 4.7961630695vw;
    padding-bottom: 4.5563549161vw;
  }
}
@media screen and (min-width: 1025px) {
  .p-header__title {
    margin-left: 3.3854166667vw;
    font-size: 3.3vw;
    font-size: 3.3333333333vw;
    padding-bottom: 0;
  }
}
.p-header__title--menu {
  display: block;
  font-size: 5.3333333333vw;
  font-weight: 700;
  position: absolute;
  top: 3.7333333333vw;
  left: 82.1333333333vw;
}
@media screen and (min-width: 600px) {
  .p-header__title--menu {
    display: block;
    font-size: 4.0767386091vw;
    line-height: 1.3235;
    font-weight: 600;
    position: absolute;
    top: 3vw;
    left: 87vw;
  }
}
@media screen and (min-width: 1025px) {
  .p-header__title--menu {
    display: none;
  }
}

.p-header__title--menu.is-active {
  display: none;
}

.p-list__single {
  margin-top: 8.5333333333vw;
  margin-left: 5.3333333333vw;
}
@media screen and (min-width: 600px) {
  .p-list__single {
    margin-top: 7.1942446043vw;
    margin-left: 13.1894484412vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .p-list__single {
    margin-top: 3.125vw;
    margin-left: 7.8125vw;
  }
}

.p-list__single-code {
  margin-top: 8vw;
  margin-right: 5.3333333333vw;
  margin-left: 4vw;
}
@media screen and (min-width: 600px) {
  .p-list__single-code {
    margin-top: 7.1942446043vw;
    margin-right: 7.1942446043vw;
    margin-left: 7.3141486811vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .p-list__single-code {
    margin-top: 3.125vw;
    margin-right: 5.15625vw;
    margin-left: 5.2604166667vw;
  }
}

.p-main-visual {
  position: relative;
  height: 88.2666666667vw;
}
@media screen and (min-width: 600px) {
  .p-main-visual {
    height: 34.1726618705vw;
  }
}
.p-main-visual__title {
  display: block;
  font-size: 9.6vw;
  position: absolute;
  top: 42.73vw;
  left: 6.9333333333vw;
}
@media screen and (min-width: 600px) {
  .p-main-visual__title {
    font-size: 4.3165467626vw;
    top: 16vw;
    left: 4.3165467626vw;
  }
}
@media screen and (min-width: 1025px) {
  .p-main-visual__title {
    display: block;
    font-size: 2.0833333333vw;
    top: 17.3vw;
    left: 4.479vw;
  }
}

.p-main-visual__archive {
  position: relative;
  height: 75.4666666667vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 600px) {
  .p-main-visual__archive {
    height: 33.932853717vw;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .p-main-visual__archive {
    height: 12.4479166667vw;
  }
}
.p-main-visual__archive__title {
  line-height: 1.33;
  margin-left: 9.8666666667vw;
  z-index: 10;
}
@media screen and (min-width: 600px) {
  .p-main-visual__archive__title {
    line-height: 1.316;
    margin-left: 10.3117505995vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .p-main-visual__archive__title {
    margin-left: 4.4791666667vw;
  }
}
.p-main-visual__archive__detail {
  margin-left: 9.8666666667vw;
  z-index: 10;
}
@media screen and (min-width: 600px) {
  .p-main-visual__archive__detail {
    margin-left: 2.3980815348vw;
    font-size: 1.9184652278vw;
  }
}
@media screen and (min-width: 1025px) {
  .p-main-visual__archive__detail {
    font-size: 0.8333333333vw;
  }
}

.p-main-visual__single {
  position: relative;
  height: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 600px) {
  .p-main-visual__single {
    height: 59.9520383693vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .p-main-visual__single {
    height: 26.0416666667vw;
  }
}
.p-main-visual__single--title {
  margin-left: 6.9333333333vw;
}
@media screen and (min-width: 600px) {
  .p-main-visual__single--title {
    margin-left: 10.3117505995vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .p-main-visual__single--title {
    margin-left: 4.4791666667vw;
  }
}

.p-nav {
  position: relative;
  overflow-x: hidden;
}
.p-nav__hamburger-btn-wrapper {
  display: block;
  width: 8.5333333333vw;
  height: 8.5333333333vw;
  position: absolute;
  min-height: 8.53vw;
  top: 2vw;
  left: 74.5vw;
}
@media screen and (min-width: 600px) {
  .p-nav__hamburger-btn-wrapper {
    width: 3.8369304556vw;
    height: 3.8369304556vw;
  }
}
@media screen and (min-width: 1025px) {
  .p-nav__hamburger-btn-wrapper {
    display: none;
  }
}
.p-nav__hamburger-btn-wrapper::before, .p-nav__hamburger-btn-wrapper::after {
  content: "";
  width: 8.5333333333vw;
  height: 1vw;
  position: fixed;
  top: 6.6666666667vw;
  right: 4.5333333333vw;
  display: block;
  background: #707070;
}
@media screen and (min-width: 600px) {
  .p-nav__hamburger-btn-wrapper::before, .p-nav__hamburger-btn-wrapper::after {
    width: 3.8369304556vw;
    height: 0.5vw;
    top: 2.9976019185vw;
    right: 2.9976019185vw;
  }
}
.p-nav__hamburger-btn-wrapper::before {
  top: 5.5vw;
  transform: rotate(45deg);
}
.p-nav__hamburger-btn-wrapper::after {
  top: 5.5vw;
  transform: rotate(-45deg);
}
.p-nav__hamburger-btn-wrapper--btn {
  display: block;
  width: 8.5333333333vw;
  height: 8.5333333333vw;
  position: absolute;
  top: 1.9vw;
  left: 74.4vw;
}
.p-nav__title {
  padding-left: 12.2666666667vw;
  padding-bottom: 6.6666666667vw;
}
@media screen and (min-width: 600px) {
  .p-nav__title {
    padding-left: 5.51558753vw;
    font-size: 2.8776978417vw;
  }
}
@media screen and (min-width: 1025px) {
  .p-nav__title {
    padding-bottom: 2.0833333333vw;
    padding-left: 2.3958333333vw;
    text-align: left;
    font-size: 1.25vw;
    font-weight: 700;
  }
}
.p-nav__title--menu {
  font-size: 9.0666666667vw;
}
@media screen and (min-width: 600px) {
  .p-nav__title--menu {
    font-size: 4.0767386091vw;
  }
}
@media screen and (min-width: 1025px) {
  .p-nav__title--menu {
    font-size: 1.7708333333vw;
    font-weight: 700;
  }
}
.p-nav__ul {
  padding-left: 17.6vw;
}
@media screen and (min-width: 600px) {
  .p-nav__ul {
    padding-left: 7.9136690647vw;
  }
}
@media screen and (min-width: 1025px) {
  .p-nav__ul {
    padding-left: 3.4375vw;
  }
}
.p-nav__li {
  padding-bottom: 6.1333333333vw;
}
@media screen and (min-width: 600px) {
  .p-nav__li {
    padding-bottom: 2.757793765vw;
  }
}
@media screen and (min-width: 1025px) {
  .p-nav__li {
    padding-bottom: 1.1979166667vw;
  }
}

.p-nav__hamburger-btn-wrapper.is-active {
  display: none;
}

.p-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16.1066666667vw;
  margin-right: 5.3866666667vw;
  margin-bottom: 8.2666666667vw;
  margin-left: 5.4133333333vw;
}
@media screen and (min-width: 600px) {
  .p-pagination {
    justify-content: center;
    margin-top: 12.6498800959vw;
    margin-bottom: 3.5971223022vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .p-pagination {
    margin-top: 7.7604166667vw;
    margin-bottom: 3.3333333333vw;
  }
}
.p-pagination__item--link {
  display: block;
  text-align: center;
}
@media screen and (min-width: 600px) {
  .p-pagination__item--link {
    margin-right: 2.0623501199vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .p-pagination__item--link {
    margin-right: 0.78125vw;
  }
}
.p-pagination__item--hide {
  display: none;
}
@media screen and (min-width: 600px) {
  .p-pagination__item--hide {
    display: block;
  }
}

.p-search-form {
  display: flex;
  position: relative;
}
.p-search-form::before {
  content: \f002;
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 5vw;
  display: block;
  line-height: 1px;
  margin: 6.5vw -7.27vw 0 0;
  z-index: 10;
}
@media screen and (min-width: 600px) {
  .p-search-form::before {
    font-size: 3vw;
    margin: 3vw -4.68vw 0 0;
  }
}
@media screen and (min-width: 1025px) {
  .p-search-form::before {
    font-size: 1.5vw;
    margin: 1.3vw -2.5vw 0 0;
  }
}
.p-search-form__keyword {
  background-color: #FFFFFF;
  width: 61.3333333333vw;
  height: 12.2666666667vw;
  padding-left: 10vw;
}
@media screen and (min-width: 600px) {
  .p-search-form__keyword {
    width: 47.4820143885vw;
    height: 5.51558753vw;
    padding-left: 5.515vw;
  }
}
@media screen and (min-width: 1025px) {
  .p-search-form__keyword {
    width: 20.625vw;
    height: 2.3958333333vw;
    padding-left: 3vw;
  }
}
.p-search-form__submit {
  background-color: #F2EDE9;
  width: 20.8vw;
  height: 12.2666666667vw;
  margin-left: 3.2vw;
  font-size: 4.2666666667vw;
  color: #707070;
}
@media screen and (min-width: 600px) {
  .p-search-form__submit {
    width: 16.3069544365vw;
    height: 5.51558753vw;
    margin-left: 1.2vw;
    margin-left: 1.6786570743vw;
    font-size: 0.8vw;
    font-size: 1.9184652278vw;
  }
}
@media screen and (min-width: 1025px) {
  .p-search-form__submit {
    margin: 0 1.61vw 0 0.67vw;
    width: 7vw;
    width: 7.0833333333vw;
    height: 2.3958333333vw;
    font-size: 0.8333333333vw;
  }
}

.p-section__archiveAbout--article__title {
  margin-top: 8vw;
  margin-left: 8vw;
}
@media screen and (min-width: 600px) {
  .p-section__archiveAbout--article__title {
    font-size: 4.3165467626vw;
    margin-top: 4.3165467626vw;
    margin-left: 5.035971223vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .p-section__archiveAbout--article__title {
    font-size: 1.875vw;
    margin-top: 3.125vw;
    margin-left: 5.2083333333vw;
  }
}
.p-section__archiveAbout--article__text {
  margin-top: 8vw;
  margin-right: 4.8vw;
  margin-bottom: 5.0666666667vw;
  margin-left: 5.8666666667vw;
  line-height: 1.4375;
}
@media screen and (min-width: 600px) {
  .p-section__archiveAbout--article__text {
    font-size: 1.9184652278vw;
    margin-top: 2.9976019185vw;
    margin-right: 4.1966426859vw;
    margin-bottom: 4.4364508393vw;
    margin-left: 5.035971223vw;
  }
}
@media screen and (min-width: 1025px) {
  .p-section__archiveAbout--article__text {
    font-size: 0.8333333333vw;
    margin-right: 5.2083333333vw;
    margin-bottom: 3.6979166667vw;
    margin-left: 5.2083333333vw;
  }
}

.p-section__card {
  margin-right: 5.04vw;
  margin-bottom: 5.5733333333vw;
  margin-left: 5.3333333333vw;
}
@media screen and (min-width: 600px) {
  .p-section__card {
    display: flex;
    margin-right: 4.1966426859vw;
    margin-bottom: 2.4580335731vw;
    margin-left: 5.1558752998vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .p-section__card {
    margin-right: 5.2083333333vw;
    margin-bottom: 1.5625vw;
    margin-left: 5.2083333333vw;
  }
}
@media screen and (min-width: 600px) {
  .p-section__card__image--blue {
    height: 42.5059952038vw;
    object-fit: cover;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .p-section__card__image--blue {
    height: 24.53125vw;
  }
}
@media screen and (min-width: 600px) {
  .p-section__card__about--wrapper {
    width: 50%;
    height: 42.5059952038vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .p-section__card__about--wrapper {
    height: 24.53125vw;
  }
}
.p-section__card__title {
  padding-top: 8.4vw;
  margin-left: 4.5333333333vw;
}
@media screen and (min-width: 600px) {
  .p-section__card__title {
    padding-top: 3.5971223022vw;
    margin-left: 4.1606714628vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .p-section__card__title {
    font-size: 1.875vw;
    line-height: 1.5;
    padding-top: 2.7604166667vw;
    margin-left: 3.28125vw;
  }
}
.p-section__card__heading {
  padding-top: 6.4vw;
  margin-left: 4.5333333333vw;
}
@media screen and (min-width: 600px) {
  .p-section__card__heading {
    padding-top: 2.8776978417vw;
    margin-left: 4.1606714628vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .p-section__card__heading {
    font-size: 1.25vw;
    line-height: 1.5;
    padding-top: 2.4479166667vw;
    margin-left: 3.28125vw;
  }
}
.p-section__card__text {
  padding-top: 2.6666666667vw;
  margin-right: 19.4933333333vw;
  margin-left: 4.5333333333vw;
  line-height: 1.4375;
}
@media screen and (min-width: 600px) {
  .p-section__card__text {
    padding-top: 1.1990407674vw;
    margin-right: 7.0743405276vw;
    margin-left: 4.1606714628vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .p-section__card__text {
    font-size: 0.8333333333vw;
    padding-top: 0.8854166667vw;
    margin-right: 5.4166666667vw;
    margin-left: 3.28125vw;
  }
}
.p-section__card__button {
  margin-top: 10.6666666667vw;
  margin-right: 24.8vw;
  margin-bottom: 11.6533333333vw;
  margin-left: 21.3066666667vw;
  padding-top: 2.6666666667vw;
  padding-right: 11.2266666667vw;
  padding-bottom: 2.8vw;
  padding-left: 10.96vw;
}
@media screen and (min-width: 600px) {
  .p-section__card__button {
    margin-top: 4.8561151079vw;
    margin-right: 11.9664268585vw;
    margin-bottom: 4.0167865707vw;
    margin-left: 13.7529976019vw;
    padding-top: 1.1990407674vw;
    padding-right: 5.0479616307vw;
    padding-bottom: 1.1990407674vw;
    padding-left: 4.9160671463vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .p-section__card__button {
    margin-top: 3.125vw;
    margin-right: 9.3229166667vw;
    margin-bottom: 3.125vw;
    margin-left: 10.6770833333vw;
  }
}

.p-section__single--title-h2, .p-section__single--title-h6 {
  margin-top: 8vw;
  margin-left: 5.3333333333vw;
}
@media screen and (min-width: 600px) {
  .p-section__single--title-h2, .p-section__single--title-h6 {
    margin-top: 7.1942446043vw;
    margin-left: 7.1942446043vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .p-section__single--title-h2, .p-section__single--title-h6 {
    margin-top: 3.125vw;
    margin-left: 5.2083333333vw;
  }
}
.p-section__single--title-h3 {
  margin-top: 9.0666666667vw;
  margin-left: 5.3333333333vw;
}
@media screen and (min-width: 600px) {
  .p-section__single--title-h3 {
    margin-top: 7.1942446043vw;
    margin-left: 7.1942446043vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .p-section__single--title-h3 {
    margin-top: 3.125vw;
    margin-left: 5.2083333333vw;
  }
}
.p-section__single--title-h4 {
  margin-top: 8.2666666667vw;
  margin-left: 5.3333333333vw;
}
@media screen and (min-width: 600px) {
  .p-section__single--title-h4 {
    margin-top: 7.1942446043vw;
    margin-left: 7.1942446043vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .p-section__single--title-h4 {
    margin-top: 3.125vw;
    margin-left: 5.2083333333vw;
  }
}
.p-section__single--title-h5 {
  margin-top: 9.8666666667vw;
  margin-left: 5.3333333333vw;
}
@media screen and (min-width: 600px) {
  .p-section__single--title-h5 {
    margin-top: 7.1942446043vw;
    margin-left: 7.1942446043vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .p-section__single--title-h5 {
    margin-top: 3.125vw;
    margin-left: 5.2083333333vw;
  }
}
.p-section__single--text {
  margin-top: 8vw;
  margin-right: 5.3333333333vw;
  margin-left: 5.3333333333vw;
}
@media screen and (min-width: 600px) {
  .p-section__single--text {
    margin-top: 7.1942446043vw;
    margin-right: 7.1942446043vw;
    margin-left: 7.1942446043vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .p-section__single--text {
    margin-top: 3.125vw;
    margin-right: 5.2083333333vw;
    margin-left: 5.2083333333vw;
  }
}

.p-section__single--button {
  width: 89.3333333333vw;
  height: 21.6vw;
  margin-top: 8vw;
  margin-left: 5.3333333333vw;
  line-height: 21.6vw;
}
@media screen and (min-width: 600px) {
  .p-section__single--button {
    width: 51.4388489209vw;
    height: 12.4700239808vw;
    margin-top: 7.1942446043vw;
    margin-left: 7.1942446043vw;
    line-height: 12.47vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .p-section__single--button {
    width: 22.34375vw;
    height: 5.4166666667vw;
    margin-top: 3.125vw;
    margin-left: 5.2083333333vw;
    line-height: 5.416vw;
  }
}
.p-section__single--button-a {
  width: 89.3333333333vw;
  height: 21.6vw;
  margin-top: -21.6vw;
  display: block;
}
@media screen and (min-width: 600px) {
  .p-section__single--button-a {
    width: 51.4388489209vw;
    height: 12.4700239808vw;
    margin-top: -12.6vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .p-section__single--button-a {
    width: 22.34375vw;
    height: 5.4166666667vw;
    margin-top: -5.5vw;
  }
}

.p-table {
  border-collapse: collapse;
  background-color: #FFFFFF;
  width: 89.3333333333vw;
  margin-top: 8vw;
  margin-left: 5.3333333333vw;
}
@media screen and (min-width: 600px) {
  .p-table {
    width: 85.6115107914vw;
    margin-top: 7.1942446043vw;
    margin-left: 7.1942446043vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .p-table {
    width: 70.7291666667vw;
    margin-top: 2.6041666667vw;
    margin-left: 5.2083333333vw;
  }
}
.p-table__td {
  padding-top: 7.4666666667vw;
  padding-bottom: 7.2vw;
  padding-left: 8vw;
}
@media screen and (min-width: 600px) {
  .p-table__td {
    padding-top: 3.3573141487vw;
    padding-bottom: 3.2374100719vw;
    padding-left: 3.5971223022vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .p-table__td {
    padding-top: 1.4583333333vw;
    padding-bottom: 1.40625vw;
    padding-left: 1.5625vw;
  }
}

.u-margin__title--menu {
  display: none;
}
@media screen and (min-width: 1025px) {
  .u-margin__title--menu {
    display: block;
    margin-top: 4.2708333333vw;
    margin-bottom: 4.4270833333vw;
    text-align: start;
    padding-left: 2.3958333333vw;
  }
}

.u-margin__T130 {
  margin-top: 56.5333333333vw;
}
@media screen and (min-width: 600px) {
  .u-margin__T130 {
    margin-top: 25.4196642686vw;
  }
}
@media screen and (min-width: 1025px) {
  .u-margin__T130 {
    margin-top: 0;
  }
}

.u-margin__T11 {
  margin-top: 2.9333333333vw;
}
@media screen and (min-width: 1025px) {
  .u-margin__T11 {
    margin-top: 0.5729166667vw;
    padding-bottom: 2.03125vw;
  }
}

.u-margin__T18 {
  margin-top: 4.8vw;
}
@media screen and (min-width: 1025px) {
  .u-margin__T18 {
    margin-top: 0.9375vw;
    padding-bottom: 1.9791666667vw;
  }
}

.u-margin__L82 {
  margin-left: 2.1866666667vw;
  margin-right: 58.6666666667vw;
}

.u-margin__R173 {
  margin-right: 1.9466666667vw;
}

@media screen and (min-width: 600px) {
  .u-margin__R193 {
    margin-right: 0.6354916067vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .u-margin__R193 {
    margin-right: 1.0052083333vw;
  }
}

.u-margin__0 {
  margin: 0 auto;
}

.u-margin__B30 {
  margin-bottom: 8vw;
}
@media screen and (min-width: 600px) {
  .u-margin__B30 {
    margin-bottom: 7.3141486811vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .u-margin__B30 {
    margin-bottom: 3.125vw;
  }
}

.u-margin__B20 {
  margin-bottom: 5.3333333333vw;
}
@media screen and (min-width: 600px) {
  .u-margin__B20 {
    margin-bottom: 2.3980815348vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .u-margin__B20 {
    margin-bottom: 1.0416666667vw;
  }
}

.u-margin__L34 {
  margin-left: 4.8vw;
}
@media screen and (min-width: 600px) {
  .u-margin__L34 {
    margin-left: 2.1582733813vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .u-margin__L34 {
    margin-left: 0.9375vw;
  }
}

.u-margin__L20 {
  margin-top: 8vw;
  margin-bottom: 47.2vw;
  margin-left: 5.3333333333vw;
}
@media screen and (min-width: 600px) {
  .u-margin__L20 {
    margin-top: 7.1942446043vw;
    margin-bottom: 27.3381294964vw;
    margin-left: 7.1942446043vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .u-margin__L20 {
    margin-top: 3.125vw;
    margin-bottom: 18.3854166667vw;
    margin-left: 5.2083333333vw;
  }
}

.u-padding__L16 {
  padding-left: 4.2666666667vw;
}
@media screen and (min-width: 600px) {
  .u-padding__L16 {
    padding-left: 1.9184652278vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .u-padding__L16 {
    padding-left: 0.8333333333vw;
  }
}

.u-width__single-table-left {
  width: 40%;
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .u-width__single-table-left {
    width: 31.5%;
  }
}

/*# sourceMappingURL=style.css.map */
