//色指定
@use "./../../foundation/variables" as v;
//レスポンシブ
@use "./../../foundation/mixin" as m;

.u-padding__L16 {
    padding-left: m.sp-vw( 16 );
    @include m.tablet {
        padding-left: m.tb-vw( 16 );
        @include m.pc {
            padding-left: m.pc-vw( 16 );
        }
    }
}