//文字色指定
@use "./../../foundation/variables" as v;
//レスポンシブ
@use "./../../foundation/mixin" as m;

//Take Out/Eat In
//横並び、マージン
.p-brunch-menu {
    margin    : 7.65vw 3.448vw;
    @include m.tablet {
        margin: 4.79vw 4.79vw 0 4.79vw;
    }
    @include m.pc {
        margin: 75px 5.83vw 83.8px 5.78vw;
    }

    //パン３つ
    //高さを文字数に合わせて可変
    &__ul-left {
        position         : relative;
        min-height       : m.sp-vw( 489.7 );
        margin-right     : 3.537vw;
        margin-bottom    : 5.33vw;
        width            : 100%;
        @include m.tablet {
            min-height   : m.tb-vw( 681 );
            margin-right : m.tb-vw( 41 );
        }
        @include m.pc {
            min-height   : m.pc-vw( 1193 );
            min-width    : m.pc-vw( 625 );
            margin-right : 50px;
            margin-right : m.pc-vw( 80 );
            margin-bottom: 0vw;
        }
    }

    //ハンバーガー
    //高さを文字数に合わせて可変
    &__ul-right {
        position         : relative;
        min-height       : m.sp-vw( 489.7 );
        margin-bottom    : 5.33vw;
        width            : 100%;
        @include m.pc {
            min-height   : 746px;
            min-width    : m.pc-vw( 625 );
            margin-bottom: 0vw;
        }
    }

    //タイトルの位置
    &__title {
        padding-top    : m.sp-vw( 11, 375 );
        margin-left    : 4vw;
        font-size      : m.sp-vw( 41, 375);
        line-height    : 1.317;
        @include m.tablet {
            margin-left: m.tb-vw( 11 );
            font-size  : m.tb-vw( 44);
        }
        @include m.pc {
            font-size  : m.pc-vw( 80 );
            padding-top: m.pc-vw( 20 );
        }
    }

    //タイトル下の下線の位置、幅など
    &__title::after {
        width     : 9.03vw;
        height    : 6.5px;
        height    : 1.2vw;
        top       : 19vw;
        left      : 4vw;
        @include m.tablet {
            width : m.tb-vw( 35.99 );
            height: m.tb-vw( 3.5 );
            top   : 11.913vw;
            left  : 1.4vw;
            left  : m.tb-vw( 15.1 );
        }
        @include m.pc {
            width : m.pc-vw( 63 );
            height: 0.25vw;
            top   : 8vw;
        }
    }

    //Take Out/Eat Inの説明文の白い箱
    &__dl {
        background: rgba(255,255,255,1);
        margin    : m.sp-vw( 20 );
        @include m.tablet {
            margin: 1.79vw 1.79vw 1.91vw 1.91vw;
        }
        @include m.pc {
            margin: 1.042vw;
            margin: m.pc-vw( 20 );
        }
    }

    //上の箱のmargin設定
    &__dl:nth-of-type(1) {
        margin-top    : m.sp-vw( 305 );
        @include m.tablet {
            margin-top: m.tb-vw( 595 );
        }
        @include m.pc {
            margin-top: m.pc-vw( 695 );
        }
    }

    //白い箱の中の見出し(Take Out/Eat In)の余白
    &__dt {
        padding      : 1.87vw 0 0.8vw 2.67vw;
        font-size    : m.sp-vw( 22 );
        @include m.tablet {
            font-size: m.tb-vw( 24 );
        }
        @include m.pc {
            font-size: m.pc-vw( 24 );
            padding  : 0.625vw 0 0.46875vw 1.041vw;
        }
    }

    //白い箱の説明文の余白
    &__dd {
        padding      : 0.8vw 2.67vw 4vw 2.67vw;
        font-size    : m.sp-vw( 16 );
        line-height  : 1.438;
        @include m.tablet {
            font-size: m.tb-vw( 14 );
        }
        @include m.pc {
            font-size: m.pc-vw( 16 );
            padding  : 0.46875vw 1.09375vw 1.042vw 1.042vw;
        }
    }
}