//文字色指定
@use "./../../foundation/variables" as v;
//レスポンシブ
@use "./../../foundation/mixin" as m;

//single
.p-list__single {
    margin-top: m.sp-vw( 32 );
    margin-left: m.sp-vw( 20 );
@include m.tablet {
        margin-top: m.tb-vw( 60 );
        margin-left: m.tb-vw( 110 );
        @include m.pc {
            margin-top: m.pc-vw( 60 );
            margin-left: m.pc-vw( 150 );
        }
    }
}
//single code
.p-list__single-code {
    margin-top: m.sp-vw( 30 );
    margin-right: m.sp-vw( 20 );
    margin-left: m.sp-vw( 15 );
@include m.tablet {
        margin-top: m.tb-vw( 60 );
        margin-right: m.tb-vw( 60 );
        margin-left: m.tb-vw( 61 );
    @include m.pc {
            margin-top: m.pc-vw( 60 );
            margin-right: m.pc-vw( 99 );
            margin-left: m.pc-vw( 101 );
        }
    }
}
