//色指定
@use "./../../foundation/variables" as v;
//ミックスイン
@use "./../../foundation/mixin" as m;

//front-page
//sidebar
//メニュー名を右へ
ul.sub-menu {
    padding-left: 1vw;
}
//文字間隔.p-nav__li
.menu-item.menu-item-type-post_type.menu-item-object-post {
    // padding-bottom    : m.sp-vw( 23 );
    // @include m.tablet {
    //     padding-bottom: m.tb-vw( 23 );
    // }
    font-weight: 400;
    @include m.pc {
        padding-bottom: m.pc-vw( 23 );
    }
}

.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-has-children > a {
    @include m.pc {
        display: inline-block;
        margin-bottom: m.pc-vw( 40 );
    }
}
