//色指定
@use "./../foundation/variables" as v;
//レスポンシブ
@use "./../foundation/mixin" as m;


//メニュー
.l-sidebar {
    display         : flex;
    flex-direction  : column;
    background-color: v.$color-bg-lightgray;
    position        : fixed;
    z-index         : 99;
    right           : -100%; //見えないように右側に隠す
    transition      : right 0.6s; //右から左へのアニメーション
    width           : 87.5%; //画面幅
    height          : 100%;
    opacity         : 0; //完全に透明に
    visibility      : hidden; //要素及びその子孫の要素を表示しない
    @include m.tablet {
        width: 44%;
    }
    @include m.pc {
        position  : relative;
        right     : 0;
        width     : 100%;
        transition: 0s; //0sにしてすぐに表示
        visibility: visible; //表示する
        opacity   : 1;    
    }
}

//sp版のsidebar
.l-sidebar.is-open {
    overflow  : scroll;
    right     : 0; //元の場所に右から出てくる
    visibility: visible; //表示する
    opacity   : 1;
    @include m.pc {
        overflow-x: hidden;
    }
}